<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dspot.declex.test"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".action.ActionMainActivity_"/>
        <activity android:name=".injection.property.PropertyInjectionActivity_"/>

    </application>

</manifest>